*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    padding:15px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1000px;
    margin:auto;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.menu-btn{
    display:none;
    font-size:24px;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:50px 20px;
    background:#0077ff;
    color:white;
}

.profile-pic{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
    margin-bottom:15px;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

h2{
    margin-bottom:15px;
}

.skill-box{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skill-box span{
    background:#333;
    color:white;
    padding:10px 15px;
    border-radius:5px;
}

.project-card{
    background:white;
    padding:20px;
    margin-top:15px;
    border-radius:8px;
    box-shadow:0 0 8px rgba(0,0,0,0.1);
}

.socials{
    margin-top:15px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.socials a{
    background:#0077ff;
    color:white;
    text-decoration:none;
    padding:10px 15px;
    border-radius:5px;
}

.socials a:hover{
    background:#005ecb;
}

footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}

@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        background:#222;
        position:absolute;
        top:60px;
        right:10px;
        padding:15px;
    }

    .nav-links.active{
        display:flex;
    }
}